*{
	font-family: 'Roboto Slab', serif;
}

body{
	padding: 0;
	margin: 0;
	background-color: #dbdbdb;
}



.slider{
	top: 0;
	position: absolute;
	z-index: 2;
	.slides{
		li{
			height: 80vh;
		}
	}
}


.mi-nav{
	background-color: transparent;
	padding-top: 20px;
	z-index: 2;
		.brand-logo {
			font-size: 1.1rem;
			padding-top: 20px;
			padding-left: 85px;  
		}
		.mi-btn{
			background-color: #e91e63;
   			width: 136px;
    		padding-left: 12px;
    		font-size: 11px;
		}
		.text-navbar{
			color: $color_text_navbar;
			font-size: $tamano_letra;
		}
		h3{
			padding-top: 80px;
			font-weight: 700;
			font-size: 70px;
		}
		.parrafo-slider{
			font-size: 20px;
			font-weight: 300;
	}
}

.contenedor-segunda-seccion{
	text-align: center;
    z-index: 2;
    position: relative;
    background-color: white;
    width: 100%;
    top: 400px;
    left: 1px;
    border-radius: 7px;
    	.texto-segunda-seccion{
		    font-size: 17px;
    		font-weight: 300;
    		padding-top: 8%;
    		padding-bottom: 6%;
    		margin-left: 5%;
    		margin-right: 7%;
    		color: #999;
    		line-height: 27.125px; 	
    	}
}

/*contenedor de iconos*/
.contenedor-iconos{

		.icono{
			font-size: 61.1px;
			color:$color_primer_icono;
			margin-top: 25px;	
		}

			h4{
				color: #3c4858;
				font-size: 18px;
				font-weight: 700;
				
			}
			.texto-primer-icono{
				margin: 0;
    			margin-right: 31px;
    			margin-left: 46px;
			}

			.texto-icono{
		        font-size: 16px;
		        font-weight: 300;
    			color: #999;
    			margin-bottom: 40px;
			}
			.segundo-icono{
				color: $color_segundo_icono;		
			}
			.tercer-icono{
				color: #4caf50;
			}

			.texto-tercer-icono{
				margin: 0;
    			margin-right: 31px;
    			margin-left: 46px;
			}
}


