*{
	font-family: 'Roboto Slab', serif;
}

body{
	padding: 0;
	margin: 0;
	background-color: #dbdbdb;
}



.slider{
	top: 0;
	position: absolute;
	z-index: 2;
	.slides{
		li{
			height: 80vh;
		}
	}
}


.mi-nav{
	background-color: transparent;
	padding-top: 20px;
	z-index: 2;
		.brand-logo {
			font-size: 1.1rem;
			padding-top: 20px;
			padding-left: 85px;  
		}
		.mi-btn{
			background-color: #e91e63;
   			width: 136px;
    		padding-left: 12px;
    		font-size: 11px;
		}
		.text-navbar{
			color: $color_text_navbar;
			font-size: $tamano_letra;
		}
		h3{
			padding-top: 80px;
			font-weight: 700;
			font-size: 70px;
		}
		.parrafo-slider{
			font-size: 20px;
			font-weight: 300;
	}
}

.contenedor-segunda-seccion{
	text-align: center;
    z-index: 2;
    position: relative;
    background-color: white;
    width: 100%;
    top: 400px;
    left: 1px;
    border-radius: 7px;
    	.texto-segunda-seccion{
		    font-size: 17px;
    		font-weight: 300;
    		padding-top: 8%;
    		padding-bottom: 6%;
    		margin-left: 5%;
    		margin-right: 7%;
    		color: $color_letras;
    		line-height: 27.125px; 	
    	}
}

/*contenedor de iconos*/
.contenedor-iconos{
		.icono{
			font-size: 61.1px;
			color:$color_primer_icono;
			margin-top: 25px;	
		}

			h4{
				color: #3c4858;
				font-size: 18px;
				font-weight: 700;
				
			}
			.texto-primer-icono{
				margin: 0;
    			margin-right: 31px;
    			margin-left: 46px;
			}

			.texto-icono{
		        font-size: 16px;
		        font-weight: 300;
    			color: $color_letras;
    			margin-bottom: 40px;
			}
			.segundo-icono{
				color: $color_segundo_icono;		
			}
			.tercer-icono{
				color: #4caf50;
			}

			.texto-tercer-icono{
				margin: 0;
    			margin-right: 31px;
    			margin-left: 46px;
			}
}


.section-img .imagen{
    display: block;
    position: absolute;
    z-index: 1;
    top: 977px;
    left: 35px;
    width: 95%;
    height: 185vh;
    content: "";

}

.contenedor-h2{
	position: relative;
	background-color: rgba(0, 0, 0, 0.65);
	top: 425px;
    font-weight: 700;
    color: white;
    font-size: 40px;
    z-index: 2;
}

.mi-p{	
	position: relative;
	background-color: rgba(0, 0, 0, 0.65);
	top: 410px;
	font-size: 18px;
	z-index: 3;
	color: white;
	font-weight: 300;
}

.img-tablet{
    display: block;
    position: absolute;
    z-index: 4;
    top: 1025px;
    width: 558px;
    height: 564px;
    content: "";
}

.video{
    position: relative;
    z-index: 5;
    top: 580px;
    left: 150px;
    width: 73%;
    height: 64vh;
}
  
.videito{
	width: 100%;
	height: 100%;
}

.contenedor-tercera-seccion{
	text-align: center;
    z-index: 2;
    position: relative;
    background-color: #f0f0f0;
    width: 100%;
    top: 685px;
    left: 1px;
}

h5{
	margin-bottom: 15px;
    font-size: 17.5px;
    line-height: 27.125px;
    color: $color_letras;
    font-weight: 300;
}

/*seccion portafolio*/
.contenedor-cuarta-seccion{
	background-color: white;
	text-align: center;
    z-index: 2;
    position: relative;
    width: 100%;
    top: 665px;
    left: 1px;
    	.portafolio{
    		padding: 38px;
    		margin: -20px;
    		margin-top: 20px;
    			.img-portafolio{
    				width: 94%;
    				height: 223px;
    				border-radius: 7px;
				}
				.img-medio{
					border-radius: 7px;
					width: 92%;
    				height: 205px;
				}
    	}
    	
    	
}


/*seccion team*/

.text-team{
	color: #3c4858;
	font-size: 15px;
	font-weight: 700;
}
.card{
	margin-left: 23px;
}
.card.horizontal .card-image .img-item{
	width: 75%;
	border-radius: 7px;
}

